body {
  background: #0b0014;
  color: #00ffff;
  text-align: center;
  font-family: Arial;
}

h1 {
  color: #ff00ff;
  text-shadow: 0 0 10px #ff00ff;
}

.menu button {
  background: black;
  color: #00ffff;
  border: 2px solid #00ffff;
  padding: 10px;
  margin: 5px;
}

canvas {
  background: black;
  border: 2px solid #ff00ff;
  margin-top: 10px;
}
